@import "tailwindcss";

@theme {
  /* Font yetu ya Inter tuliyoset kwenye layout.tsx */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  /* Rangi zetu safi (Minimalist) */
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-surface: #f5f5f7; /* Kijivu laini kama cha Apple form inputs */
  --color-accent: #007aff; /* iOS Blue kwa ajili ya links */
}

/* Background na text color ya default kwa site nzima */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}